apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-a
  labels:
    app: app-a
spec:
  replicas: 1
  selector:
    matchLabels:
      app: app-a
  strategy: {}
  template:
    metadata:
      labels:
        app: app-a
    spec:
      containers:
        - image: localhost:32000/appa:v5
          name: app-a
#          imagePullPolicy: Never
          resources: {}
          ports:
            - containerPort: 8081
          env:
           - name: SPRING_DATASOURCE_USERNAME
             value: user
           - name: SPRING_DATASOURCE_PASSWORD
             value: user
           - name: SPRING_DATASOURCE_URL
             value: jdbc:postgresql://db:5432/postgres
status: {}

---
apiVersion: v1
kind: Service
metadata:
  name: app-a
  labels:
    app:  app-a
spec:
  selector:
    app: app-a
#  type: LoadBalancer
  ports:
    - name: aap-a
      port: 8081
      targetPort: 8081
      protocol: TCP

