apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{.Values.name}}
  labels:
    app: {{.Values.name}}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{.Values.name}}
  strategy: {}
  template:
    metadata:
      labels:
        app: {{.Values.name}}
    spec:
      containers:
        - image: {{.Values.deployment.image}}:{{.Values.deployment.tag}}
          name: {{.Values.name}}
#          imagePullPolicy: Never
          resources: {}
          ports:
            - containerPort: {{.Values.deployment.port}}
          envFrom:
            - configMapRef:
                name: {{.Values.name}}-config
status: {}



