apiVersion: v1
kind: Service
metadata:
  name: {{.Values.name}}
  labels:
    app:  {{.Values.name}}
spec:
  selector:
    app: {{.Values.name}}
#  type: LoadBalancer
  ports:
    - name: {{.Values.name}}
      port: {{.Values.deployment.port}}
      targetPort: {{.Values.deployment.port}}
      protocol: TCP