apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: app-a
  labels:
    app: app-a
spec:
  replicas: 1
  selector:
    matchLabels:
      app: app-a
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: app-a
    spec:
      containers:
        - image: localhost:32000/appa:v3
          name: app-a
#          imagePullPolicy: Never
          resources: {}
          ports:
            - containerPort: 8081
status: {}

---
apiVersion: v1
kind: Service
metadata:
  name: app-a
  labels:
    app:  app-a
spec:
  selector:
    app: app-a
#  type: LoadBalancer
  ports:
    - name: aap-a
      port: 8081
      targetPort: 8081
      protocol: TCP



